- require Dir.pwd + "/source/ruby/helpers.rb"
- links = load_data 'navigation'
- content = load_data 'content'

= render :partial, 'partials/_header', :links => links, :page => 'home' 

.container
  %hr/
  .jumbotron
    %h1
      = content["intro"]["header"]
    %p.lead
      = content["intro"]["body"]
    %a.btn.btn-large.btn-success{href: "#"} Sign up today
  %hr/
  .row-fluid.marketing
    - content["modules"].each do |sub|
      .span6
        %h4 
          = sub["header"]
        %p 
          = sub["body"]

  = debug content
  = debug links

= render :partial, "partials/_footer", :links => links, :page => 'homepage'
